@model AddSpecificationViewModel
@using EShop.Domain.Entities.ProductEntity
@{
    ViewData["Title"] = "افزودن مشخصات محصول در ادمین";
    Layout = "_AdminLayout";
    var categories = ViewData["Categories"] as List<Category>;
}

<form asp-area="Admin" asp-controller="Specification" asp-action="Create" method="post">


    <h6>دسته بندی ها</h6>
    @*<div>
            @foreach (var category in categories)
            {
                <div class="form-check">
                    <input asp-for="SelectedCategories" type="checkbox" class="form-check-input" value="@category.Id" id="category_@category.Id" />
                    <label class="form-check-label" for="category_@category.Id">@category.</label>
                </div>
            }
        </div>*@

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                @if (categories != null && categories.Any())
                {
                    <ul>
                        @foreach (var category in categories.Where(c => c.ParentCategoryId == null))
                        {
                            <li>
                                <div class="bx-checkbox">
                                    <label>
                                        @*<input type="text" name="SelectedCategories" value="@category.Id" />*@
                                        <span class="text">@category.Title</span>
                                    </label>
                                </div>

                                @if (categories.Any(c => c.ParentCategoryId == category.ParentCategoryId))
                                {
                                    <ul>
                                        @foreach (var subCategory in categories.Where(c => c.ParentCategoryId == category.Id))
                                        {
                                            <li>
                                                <input type="checkbox" name="SelectedCategories" value="@subCategory.Id" />
                                                <span class="text">@subCategory.Title</span>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>

                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Name">نام مشخصه</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="pt-4">
        <div class="form-group">
            <button type="submit" class="btn btn-primary me-sm-3 me-1">افزودن مشخصه</button>
        </div>
        </div>
</form>  