@using EShop.Application.Utilities.Convertors
@using EShop.Application.Utilities.Convertors.Date
@using EShop.Domain.ViewModels.Products.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FilterProductViewModel

@{
    ViewData["Title"] = "لیست  محصولات";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card">
            <div class="card-datatable table-responsive">

                <partial name="_ProductTableActions" />

                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table class="datatables-users table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <!-- هدر جدول -->
                        <thead>
                            <tr>
                                <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="display: none;"></th>
                                <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 148.25px;" aria-sort="descending">آیدی</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 145.859px;">عنوان </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 148.625px;">عنوان انگلیسی</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 190.312px;">قیمت</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 184.359px;">تصویر</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 184.359px;">تاریخ ایجاد</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 184.359px;"> عملیات‌</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 191.656px;">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Entities.Any())
                            {
                                @foreach (var product in Model.Entities)
                                {
                                    <tr>
                                        <td>@product.Id</td>
                                        <td>@product.Title</td>
                                        <td>@product.TitleDescription</td>
                                        <td>@product.Price</td>
                                        <td>@product.ImageName</td>
                                        <td> @product.CreatedDate.ToShamsiDate()</td>
                                        <td style="display: flex; gap: 10px;">
                                            <!-- دکمه ویرایش -->
                                            <a class="btn btn-primary btn-sm" asp-action="Update" asp-route-id="@product.Id">
                                                <i class="bx bx-edit-alt me-1"></i> ویرایش
                                            </a>
                                          
                                            <!-- دکمه حذف -->
                                            <form asp-action="Delete" method="post" id="delete-form-@product.Id">
                                                <input type="hidden" name="id" value="@product.Id" />
                                                <button type="button" class="btn btn-danger btn-sm" onclick="if(confirm('آیا مطمئن هستید که می‌خواهید این کاربر را حذف کنید؟')) { document.getElementById('delete-form-@product.Id').submit(); }">
                                                    <i class="bx bx-trash me-1"></i> حذف
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="odd">
                                    <td valign="top" colspan="8" class="text-center">هیچ محصولی یافت نشد</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <!-- پاورقی جدول (صفحه‌بندی و اطلاعات) -->
                    <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />

                </div>
            </div>

        </div>
    </div>
</div>




